<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  [showBorders]="true"
  [remoteOperations]="true"
>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxi-column dataField="" [width]="100">e</dxi-column>
  <dxi-column dataField="" [width]="100">d</dxi-column>
  <dxi-column dataField="nomeLocal" dataType="string"></dxi-column>
  <dxi-column dataField="endereco" dataType=""></dxi-column>
  <dxi-column dataField="dataEvento" dataType="datetime"></dxi-column>
  <dxo-paging [pageSize]="12"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[8, 12, 20]"
  ></dxo-pager>
</dx-data-grid>




















<!--<dx-data-grid
  [dataSource]="eventos"
  keyExpr="id">
  [allowColumnReordering]="true">
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxi-column [allowSearch]="true" dataField="nomeLocal"></dxi-column>
  <dxi-column dataField="dataEvento" dataType="date"></dxi-column>
  <dxi-column dataField="endereco"></dxi-column>

</dx-data-grid>-->



















<!--
<div class="options">
  <div class="caption">Pesquisar eventos</div>
  <div class="option">
    <span>Modo de pesquisa</span>
    <dx-select-box
      #searchMode
      [items]="['contains', 'startsWith', 'equals']"
      [(value)]="list.searchMode"
    >
    </dx-select-box>
  </div>
</div>
<div class="list-container">
  <dx-list
    #list
    [dataSource]="eventos"
    [height]="550"
    [searchEnabled]="true"
    searchExpr="nome"
    searchMode="contains">
    <div *dxTemplate="let data of 'item'">
      <div>{{ data.nomeLocal}}</div>
    </div>
  </dx-list>
</div>


-->
