<dx-data-grid
  [dataSource]="eventos"
  keyExpr="id">
  [allowColumnReordering]="true">
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxi-column [allowSearch]="true" dataField="nomeLocal"></dxi-column>
  <dxi-column dataField="dataEvento" dataType="date"></dxi-column>
  <dxi-column dataField="endereco"></dxi-column>
  <dxi-column dataField="" [width]="100"></dxi-column>
  <dxi-column dataField="" [width]="100"></dxi-column>
</dx-data-grid>



















<!--
<div class="options">
  <div class="caption">Pesquisar eventos</div>
  <div class="option">
    <span>Modo de pesquisa</span>
    <dx-select-box
      #searchMode
      [items]="['contains', 'startsWith', 'equals']"
      [(value)]="list.searchMode"
    >
    </dx-select-box>
  </div>
</div>
<div class="list-container">
  <dx-list
    #list
    [dataSource]="eventos"
    [height]="550"
    [searchEnabled]="true"
    searchExpr="nome"
    searchMode="contains">
    <div *dxTemplate="let data of 'item'">
      <div>{{ data.nomeLocal}}</div>
    </div>
  </dx-list>
</div>


-->
