
<div class="content-block">
  <div class="app-header"
       fxLayout="row"
       fxLayoutAlign="start center">
    <h2>{{ pageTitle }}</h2>
    <dx-button class="app-button-back"
               text="Voltar"
               icon="arrowleft"
               stylingMode="text"
               type="normal"
               (onClick)="back()"></dx-button>
  </div>
  <div class="dx-card responsive-paddings">
    <form autocomplete="off"
          (submit)="doSave($event)">
      <dx-form id="form"
               [formData]="formData"
               requiredMark="<span title='campo obrigatório'>*</span>">
        

    <dxi-item dataField="matricula">
        <dxo-label text="matricula"></dxo-label>
    </dxi-item>


    <dxi-item dataField="nome">
        <dxo-label text="nome"></dxo-label>
    </dxi-item>




    <dxi-item itemType="group"  caption="Informações sobre Curso" colCount="5">
        <dxi-item
                colSpan="4"
                dataField="curso.id"
                editorType="dxSelectBox"
                [editorOptions]="cursoDxSelectBoxEditorOptions">
            <dxo-label text="Curso"></dxo-label>
        </dxi-item>
    </dxi-item>
        <dxi-item itemType="group"
                  colCount="2"
                  [colCountByScreen]="{ xs: 2 }">
          <dxi-item itemType="button"
                    horizontalAlignment="left"
                    [buttonOptions]="{
                                text: 'Salvar',
                                type: 'success',
                                useSubmitBehavior: true,
                                disabled: saveSub && !saveSub.closed
                              }">
          </dxi-item>
          <dxi-item itemType="button"
                    horizontalAlignment="left"
                    [buttonOptions]="{
                                text: 'Cancelar',
                                onClick: back
                              }">
          </dxi-item>
        </dxi-item>
      </dx-form>
    </form>
  </div>
</div>
